.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: var(--background-default);
  color: var(--text-primary);

  .form {
    width: 80%;

    h3 {
      margin-bottom: 10px; // Отступ снизу
      text-align: center;
      color: var(--text-primary);
    }
    .subtitle1 {
      font-family: "Ysabeau SC", sans-serif;
      margin-bottom: 20px; // Отступ снизу
      text-align: center;
      color: var(--text-secondary);
    }
    .incitingText {
      color: var(--primary-main);
      margin-left: 10px;
      cursor: pointer;
    }

    .MuiInputBase-root {
      border-radius: 5px;
      background-color: var(--input-background);
      transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s;

      &:hover {
        background-color: var(--input-background-hover);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }

      input {
        transition: border-color 0.3s;
        color: var(--input-text); // Цвет текста внутри поля

        &:focus {
          border-color: var(--primary-main);
          outline: none;
        }
      }
    }
    .MuiOutlinedInput-root {
      &.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: var(--primary-main); // Цвет обводки при фокусе
      }
    }

    .MuiInputLabel-root {
      color: var(--input-label);

      &.Mui-focused {
        color: var(--primary-main);
      }
    }
  }
}
